<!DOCTYPE html>
<html lang="en">
<head>
    <title>UOH Student Registration System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="navbar">
        <a href="/">Home</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </div>

    <div class="container">
        <h2>Welcome to University of Haripur</h2>
        <p>This is a web application for student registration and login.</p> 
        <p>Developed by Hassan Zaman(F21-0499)</p>
        <a href="/register"><button>Register Now</button></a>
    </div>

    <div class="footer">
        © 2025 University of Haripur. All Rights Reserved.
    </div>

</body>
</html>
